{% extends 'index.html' %}

{% load embed_video_tags %}
{% block content %}
    {% load staticfiles %}
    <div class="row">
       <div class="col-lg-9">
           <div class="panel panel-video">
               <div class="responsive-video">
                   {% video data.obj.video 'medium' %}
               </div>
           </div>
       </div>
       <div class="col-lg-3">
           <div class="panel panel-video">
               <div class="bg-cover">
                    <div class="p-sm text-center">
                        <p class="p-md">
                            <a href="{% url 'course' id=data.course.id %}">
                                <img src="{% static "img/course_logo.png" %}" alt="Image" class="img-thumbnail img-circle thumb96">
                            </a>
                        </p>
                        <p class="p-md">
                            {{ data.unit.course.title }}
                        </p>
                        <p class="lead">
                            {{ data.obj.title }}
                        </p>
                     </div>
               </div>
               <!-- <hr> -->
               <div class="p-sm text-center">
                   <a role="button" href="{% url 'finish_activity' course_id=data.course.id activity_id=data.obj.id %}" class="btn btn-labeled btn-info" style="display:block">
                       Finalizar Atividade
                   </a>
               </div>
               <div class="p-sm">
                   <div class="box-placeholder" style="padding-bottom:20px">
                       <div class="btn-group btn-group-activity">
                          <button data-toggle="dropdown" class="btn btn-default btn-group-activity">
                              Atividades desta lição <b class="caret"></b>
                          </button>
                          <ul role="menu" class="dropdown-menu animated fadeIn dropdown-menu-activity">
                              {% for activity in data.lesson_activities %}
                                 <li>
                                     <a href="{% url 'activity' course_id=data.course.id unit_id=data.unit.id lesson_id=data.lesson.id id=activity.id %}">
                                         {{ activity.title }}
                                     </a>
                                 </li>
                              {% endfor %}
                          </ul>
                       </div>
                   </div>
               </div>
               <!-- <div class="table-grid table-grid-align-middle mv">
                   <div class="col">
                       <div class="progress progress-xs m0">
                           <div style="width: 48%" class="progress-bar progress-bar-info">48%</div>
                       </div>
                   </div>
                   <div class="col wd-xxs text-right">
                       <div class="text-bold text-muted">48%</div>
                   </div>
               </div> -->
               <table class="table bb">
                   <tbody>
                       <tr>
                           <td>
                               <strong>Lição</strong>
                           </td>
                           <td>
                               {{ data.lesson.title }}
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <strong>Unidade</strong>
                           </td>
                           <td>
                               <a href="{% url 'unit' course_id=data.course.id id=data.unit.id %}">
                                   {{ data.unit.title }}
                               </a>
                            </td>
                       </tr>
                   </tbody>
               </table>
           </div>
       </div>
   </div>
{% endblock content %}
