{% extends 'base.html' %}

{% block body %}
    {% load staticfiles %}
   <div class="wrapper">
       <!-- top navbar-->
       {% include "header.html" %}
       <!-- START Sidebar (left)-->
       {% include "main_menu.html" %}
       <!-- offsidebar-->
       <aside class="offsidebar hide">
           <!-- START Off Sidebar (right)-->
           <nav>
               <div role="tabpanel">
                   <!-- Nav tabs-->
                   <ul role="tablist" class="nav nav-tabs nav-justified">
                       <li role="presentation" class="active">
                           <a href="#app-settings" aria-controls="app-settings" role="tab" data-toggle="tab">
                               <em class="icon-equalizer fa-lg"></em>
                           </a>
                       </li>
                       <li role="presentation">
                           <a href="#app-chat" aria-controls="app-chat" role="tab" data-toggle="tab">
                               <em class="icon-user fa-lg"></em>
                           </a>
                       </li>
                   </ul>
                   <!-- Tab panes-->
                   <div class="tab-content">
                       <div id=psq  "app-settings" role="tabpanel" class="tab-pane fade in active">
                           <h3 class="text-center text-thin">Tab 1</h3>
                       </div>
                       <div id="app-chat" role="tabpanel" class="tab-pane fade">
                           <h3 class="text-center text-thin">Tab 2</h3>
                       </div>
                   </div>
               </div>
           </nav>
           <!-- END Off Sidebar (right)-->
       </aside>
       <!-- Main section-->
       <section>
           <!-- Page content-->
           <!-- Main section-->
           <section>
               <!-- Page content-->
               <div class="content-wrapper">
                   {% block title %}
                   <div class="content-heading">
                       Teste
                   </div>
                   {% endblock title %}
                   {% block content %}
                   {% endblock content %}
               </div>
           </section>
       </section>
       <!-- Page footer-->
       <footer>
           <span>&copy; 2016 - CFO</span>
       </footer>
   </div>
{% endblock body %}
