{% extends 'index.html' %}
{% block content %}
    {% load staticfiles %}
    <div class="row">
        <form method="" action="" id="form2" class="post-form">
            <div class="col-lg-9">
                <div class="panel">
                    <div class="panel-body">
                        {% for question, answers in data.questions.items %}
                            <p class="p-md">
                                <p class="lead">
                                    <b>Questão {{ forloop.counter }}</b>
                                    <span class="pull-right">
                                        {% if question in data.correct_questions %}
                                            <span class="label label-green">Correta</span>
                                        {% else %}
                                            <span class="label label-yellow">Errada</span>
                                        {% endif %}
                                    </span>
                                </p>
                                <p class="p-md">
                                    {{ question.description }}
                                </p>
                                {% for answer in answers.all %}
                                    <div class="radio c-radio">
                                        <label>
                                            {% if answer in data.user_answers %}
                                                {% if answer.is_correct %}
                                                    <input id="{{ question.id }}" type="radio" name="{{ question.id }}" value="{{ answer.id }}" checked="">
                                                    <span class="fa fa-thumbs-up"></span>
                                                {% else %}
                                                    <input id="{{ question.id }}" type="radio" name="{{ answer.id }}" value="{{ answer.id }}" checked="">
                                                    <span class="fa fa-remove"></span>
                                                {% endif %}
                                            {% else %}
                                                {% if answer.is_correct %}
                                                    <input id="{{ question.id }}" type="radio" name="{{ question.id }}" value="{{ answer.id }}" checked="">
                                                    <span class="fa fa-check"></span>
                                                {% else %}
                                                    <input id="{{ question.id }}" type="radio" name="{{ answer.id }}" value="{{ answer.id }}" disabled="true">
                                                    <span class="fa fa-check"></span>
                                                {% endif %}
                                            {% endif %}
                                            {{ answer.description }}
                                        </label>
                                    </div>
                                {% endfor %}
                                {% if question.comment %}
                                    <blockquote>
                                        <p>
                                            {{ question.comment }}
                                        </p>
                                    </blockquote>
                                {% endif %}
                            </p>
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel">
                    <div class="panel-body">
                        <div class="bg-cover">
                            <div class="p-sm text-center">
                                <p>
                                    <a href="">
                                        <img src="{% static "img/course_logo.png" %}" alt="Image" class="img-thumbnail img-circle thumb96">
                                    </a>
                                </p>
                                <p class="p-md">
                                    {{ data.unit.course.title }}
                                </p>
                                <p class="lead">
                                    Revisão do Simulado da Unidade {{ data.unit.rank }}
                                </p>
                                <h4>
                                    Seu aproveitamento: {{ data.quiz_progress.score_percentage }}
                                </h4>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="p-sm text-center">
                                <a role="button" href="{% url 'finish-unit-quiz' quiz_progress_id=data.quiz_progress.id %}" class="btn btn-labeled btn-info">
                                    Iniciar próxima unidade!
                                </a>
                            </div>
                            <div class="p-sm text-center">
                                <a role="button" href="{% url 'retake-unit-quiz' quiz_progress_id=data.quiz_progress.id %}" class="btn btn-default btn-oval">
                                    <em class="fa fa-backward fa-fw text-muted"></em>
                                    Refazer Simulado
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
   </div>
{% endblock content %}
