{% extends 'index.html' %}
{% block content %}
    {% load staticfiles %}
    <div class="row">
       <div class="col-lg-9">
           <div class="panel">
              <div class="panel-body">
                  <p class="p-md">
                      <p class="lead">
                          Questão {{ data.current_question.number }} / {{ data.quiz_progress.sample }}
                      </p>
                      <p class="p-md">
                          {{ data.current_question.question.description }}
                      </p>
                      <hr>
                      {% for answer in data.answers %}
                          <div class="radio c-radio">
                              <label>
                                  <input id="{{ answer.id }}" type="radio" name="i-radio" value="{{ answer.id }}">
                                  <span class="fa fa-check"></span>
                                  {{ answer.description }}
                              </label>
                          </div>
                      {% endfor %}
                      <!-- <div class="radio c-radio">
                          <label>
                              <input id="inlineradio11" type="radio" name="i-radio" value="option2" checked="">
                              <span class="fa fa-check"></span>
                              Todas as afirmações estão incorretas
                          </label>
                      </div> -->
                  </p>
              </div>
           </div>
       </div>
       <div class="col-lg-3">
           <div class="panel">
               <div class="panel-body">
                   <div class="bg-cover">
                       <div class="p-sm text-center">
                           <p>
                               <a href="">
                                   <img src="{% static "img/course_logo.png" %}" alt="Image" class="img-thumbnail img-circle thumb96">
                               </a>
                            </p>
                            <p class="p-md">
                                {{ data.unit.course.title }}
                            </p>
                            <p class="lead">
                                Simulado da Unidade {{ data.unit.rank }}
                            </p>
                         </div>
                   </div>
                   <div class="clearfix">
                       <div class="p-sm text-center">
                           <a role="button" href="" class="btn btn-labeled btn-info" style="display:block">
                               Responder Questão
                           </a>
                       </div>
                       <div class="p-sm text-center">
                           <a role="button" href="" class="btn btn-labeled btn-default" style="display:block">
                               Visualizar Correção
                           </a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endblock content %}
