{% extends 'index.html' %}
{% block content %}
    {% load staticfiles %}
    <div class="row">
       <div class="col-lg-9">
           <div class="panel">
              <div class="panel-body">
                  <p class="p-md">
                      <p class="lead">
                          Questão 1 / 10
                      </p>
                      <p class="p-md">
                          I. A expressão “finanças públicas” designa métodos e processos financeiros por meio dos quais os governos federal, estadual e municipal desempenham suas funções.
                      </p>
                      <p class="p-md">
                          II. Através do orçamento público os governos perseguem os objetivos de satisfazer às necessidades sociais, de induzir uma eficiente utilização dos recursos e de corrigir a distribuição de renda em uma sociedade.
                      </p>
                      <p class="p-md">
                          III. O orçamento público desempenha a função de instrumento de uma política macroeconômica, visando a estabilização da economia.
                      </p>
                      <hr>
                      <div class="radio c-radio">
                          <label>
                              <input id="inlineradio10" type="radio" name="i-radio" value="option1" checked="">
                              <span class="fa fa-check"></span>
                              Todas as afirmações estão incorretas
                          </label>
                      </div>
                      <div class="radio c-radio">
                          <label>
                              <input id="inlineradio11" type="radio" name="i-radio" value="option2" checked="">
                              <span class="fa fa-check"></span>
                              Todas as afirmações estão incorretas
                          </label>
                      </div>
                      <div class="radio c-radio">
                          <label>
                              <input id="inlineradio12" type="radio" name="i-radio" value="option3" checked="">
                              <span class="fa fa-check"></span>
                              Somente a afirmação I está correta
                          </label>
                      </div>
                      <div class="radio c-radio">
                          <label>
                              <input id="inlineradio13" type="radio" name="i-radio" value="option4" checked="">
                              <span class="fa fa-check"></span>
                              Somente a afirmação II está correta
                          </label>
                      </div>
                  </p>
              </div>
           </div>
       </div>
       <div class="col-lg-3">
           <!-- <div class="panel b"> -->
           <div class="panel">
               <!-- <div class="panel-body bb"> -->
               <div class="panel-body">
                   <div class="bg-cover">
                       <div class="p-sm text-center">
                           <p>
                               <a href="">
                                   <img src="{% static "img/course_logo.png" %}" alt="Image" class="img-thumbnail img-circle thumb96">
                               </a>
                            </p>
                            <p class="p-md">
                                {{ data.unit.course.title }}
                            </p>
                            <p class="lead">
                                Simulado da Unidade {{ data.unit.rank }}
                            </p>
                         </div>
                   </div>
                   <div class="clearfix">
                       <div class="p-sm text-center">
                           <a role="button" href="" class="btn btn-labeled btn-info" style="display:block">
                               Responder Questão
                           </a>
                       </div>
                       <div class="p-sm text-center">
                           <a role="button" href="" class="btn btn-labeled btn-default" style="display:block">
                               Visualizar Correção
                           </a>
                       </div>
                   </div>
               </div>
               <!-- <div class="panel-body">
                   <div class="table-grid table-grid-align-middle mv">
                       <div class="col">
                           <div class="progress progress-xs m0">
                               <div style="width: 48%" class="progress-bar progress-bar-info">48%</div>
                           </div>
                       </div>
                       <div class="col wd-xxs text-right">
                           <div class="text-bold text-muted">48%</div>
                       </div>
                   </div>
               </div> -->
               <!-- <table class="table bb">
                   <tbody>
                       <tr>
                           <td>
                               <strong>Número de Questões</strong>
                           </td>
                           <td>10</td>
                       </tr>
                       <tr>
                           <td>
                               <strong>Tempo Estimado</strong>
                           </td>
                           <td>15 minutos</td>
                       </tr>
                   </tbody>
               </table> -->
           </div>
       </div>
   </div>
{% endblock content %}
